:root {
    --dark: #020914;
    --darker: #1F2937;
    --darkest: #02194b;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5cf6;
    --green: #34d403;
    --red: #ff1908;
    --bottlegreen: #0c3d03;
    --orange: #f39407;
    --brown: rgba(92, 38, 2, 0.856);
    --darkar:rgb(1, 3, 0);

}
*{
    box-sizing: border-box;
    margin: 0;
    font-family:var(--red);
    color: #000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image:url(backgroundimg.webp);
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;


}

header {
    padding: 2rem 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    
   
}

header h1 {
     font-size: 3.5rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 300;
     color: var(--brown);
     margin-bottom: 1rem;
     margin-left: 275px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}

.title::after {
    background: #ff523b;
    content: '';
    width: 175px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform:translateX(-50%);
}


#new-task-form {
    display: flex;
    color:blue;
    
}

input, button {
    appearance: none;
    border:none;
    outline-color: var(--black);
    background: none;
    font-size: large;
    
}

#new-task-input {
    flex: 1 1 0%;
  
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--bottlegreen);
    font-size: 1.25rem;
}

#new-task-submit {
    color: var(--pink);
    font-size: 1.60rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--light),var(--light));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover{
    opacity: 0.8;

}

#new-task-submit:active{
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 300;
     color: var(--bottlegreen);
     margin-bottom: 1rem;
     
    
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    
}

#tasks .task .content {
    flex: 1 1 0%;
}

#task .task .content .text {
    color: var(--green);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .task:not(:read-only) {
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin:0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    text-align: center;
    
}

.task .actions button:hover {
    opacity: 0.8;

}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--darkar),var(--darkar));
   -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: red;
}


.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}